<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first three.js app</title>
    <style>
        body { margin: 0; }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
          }
        }
      </script>
</head>
<body>
    <div id="test">
        <a href="{{ url_for('login_page')}}">Login</a><br>
        <a href="{{ url_for('gameslist_page')}}">Games List</a>
        <div id="turn"></div>
        <div id="turnTimer"></div>
        <!-- <button id="createCity">Build City</button>
        <button id="moveUnit">Move Unit</button> -->
        <div id="unitinfo"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static',filename='main.js') }}"></script>
</body>
</html>
