<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <label for="gameName">Game Name:</label>
    <input type="text" id="gameName" name="gameName" value="newgame"><br>
    <div id="players">
        <label for="player1">Player 1:</label>
        <input type="text" id="player1" name="player1" value="harry"><br>
        <label for="player2">Player 2:</label>
        <input type="text" id="player2" name="player2" value="a"><br>
        <label for="player3">Player 3:</label>
        <input type="text" id="player3" name="player3" value="b"><br>
        <label for="player4">Player 4:</label>
        <input type="text" id="player4" name="player4" value="c"><br>
    </div>
    <button id="createGame">Create New Game</button>
    <h2>Games:</h2>
    <ul id="gamesList"></ul>
    <script type="module" src="{{ url_for('static',filename='games.js') }}"></script>
</body>
</html>