#test{
    width: 320px;
    padding: 10px;
    border: 5px solid red;
    background-color: white;
    fill: green;
    margin: 0;
    display: inline-block;
    position: absolute;
    /*z-index:-1;*/
}

#players {
    border-collapse: collapse;
    padding: 20px; /* Adjust the value as needed */
}

#players table {
    border-collapse: collapse;
    border-spacing: 20px;
    border: 1px solid black;
}

#players td {
    border-collapse: collapse;
    padding: 10px; /* Adjust the value as needed */
    border: 1px solid black;
}

/* #players input[type="text"] {
    border-collapse: collapse;
    border: none;
} */